@font-face {font-family: "Gotham"; src: url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.eot"); src: url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.woff") format("woff"), url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.svg#Gotham") format("svg"); }
.loading-div{
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 70vh;
  background-color: #333;
  padding: 1rem;
  flex-direction: column;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: top center;
    background-size: 120% 170%;
    background-position: top;
    background-image: url(https://res.cloudinary.com/jordiespinoza/image/upload/v1625597308/daniel-fazio-oK9EKfqv8HE-unsplash_f2bwjr.jpg);
    opacity: 0.5;
  }
  h2, Button {
    color: #fff;
    font-size: 1.5rem;
    position: relative;
  }
  Button{
    font-size: 18px;
  }
}
.categories-colection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px 0;
  .categorie-item {
    min-height: 5rem;
    border: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    margin: 10px;
    .info {
      padding: 5px;
      span{
          font-size: 12px;
      }
    }
    .image-categorie {
        min-height: 30vh;
        width: 40vh;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
