@font-face {
  font-family: "Gotham";
  src: url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.eot");
  src: url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/bd317adf74e5e7e564eb61ce9926cc6d.svg#Gotham")
      format("svg");
}
$image: url(https://images.unsplash.com/photo-1618775293437-91b843a7bcc6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1834&q=80);
.loading-div {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 55vh;
  background-color: #333;
  padding: 1rem;
  flex-direction: column;
  margin: 0 4rem;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: top;
    background-size: 100% 300%;
    background-position: center;
    background-image: $image;
    opacity: 0.6;
  }
  h2,
  h1,
  Button {
    color: #fff;
    font-size: 3rem;
    position: relative;
  }
  Button {
    font-size: 18px;
  }
}
.categories-colection {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px 0;
  .categorie-item {
    min-height: 5rem;
    border: 1px solid #ccc;
    padding: 1rem;
    display: flex;
    margin: 10px;
    .info {
      padding: 5px;
      display: block;
      width: 40%;
      span {
        font-size: 12px;
        display: block;
      }
    }
    .image-categorie {
      min-height: 30vh;
      width: 40vh;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media(max-width:850px){
  .header-page{
    margin: 0;
  }
}
